trigger:
  branches:
    include:
      - deployment

pool:
  vmImage: 'ubuntu-latest'

variables:
  - group: Firebase-Variables

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '20.x'
    displayName: 'Install Node.js 20'

  - script: |
      npm ci
    displayName: 'Install dependencies'

  - script: |
      npm run build:ssr
    displayName: 'Build Angular with SSR'

  - script: |
      npm install -g firebase-tools
    displayName: 'Install Firebase CLI'

  - script: |
      firebase deploy --only hosting --token $(FIREBASE_TOKEN) --non-interactive
    displayName: 'Deploy to Firebase Hosting'
    env:
      FIREBASE_TOKEN: $(FIREBASE_TOKEN)